<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{header :: title}"></div>
<div class="container">
    <h3>New Member</h3>
    <form th:action="@{/users/create}", method="post" th:object="${user}">
        <div class="row mb-3">
            <label for="firstName" class="col-sm-l col-form-label">Name:</label>
            <div class="col-sm-ll">
                <input type="text" class="form-control" th:field="*{firstName}" id="firstName" aria-describedby="Name">
            </div>
        </div>
        <div class="alert alert-warning mb-4" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-l col-form-label">Email:</label>
            <div class="col-sm-ll">
                <input type="email" class="form-control" th:field="*{email}" id="email" aria-describedby="Email">
            </div>
        </div>
        <div class="alert alert-warning mb-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
        </div>

        <button type="submit" class="btn btn-info" style = "color:white">Add</button>
        <button type="reset" class="btn btn-secondary">Clear</button>
    </form>

    <h3> Members </h3>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">EMAIL</th>
            <th scope="col">Date</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, additional: ${users}">
            <td th:text="${additional.index+1}" />
            <td th:text="${user.id}" />
            <td>
                <a th:text="${user.firstName}"></a>
            </td>
            <td th:text="${user.email}" />
            <td th:text="${user.createdAt}" />
            <td>
                <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>